/vendor
/node_modules
.env
.DS_Store
.idea/
.vscode/
/storage/*.log
/storage/framework/
/storage/app/
/public/storage
/public/hot
/public/vendor
Homestead.json
Homestead.yaml
.env.backup
.phpunit.result.cache
*.sqlite
*.sqlite-journal
npm-debug.log
yarn-error.log
/.phpunit.cache
/coverage
/.vscode
/.idea
docker-compose.override.yml
# Docker specific
docker/mysql/data/
docker/redis/data/
*.pid
